fastapi
uvicorn
requests
python-dotenv
supabase
psycopg2-binary
apscheduler
sentence-transformers
google-generativeai
fastapi
uvicorn
requests
python-dotenv
psycopg2-binary
supabase
google-auth
sentence-transformers
apscheduler
